* {
    margin: 0px;
    padding: 0px;
}

body {
}

.main-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 4fr;
    grid-template-rows: 12vh 14vh 1fr;
}

.dashboard-container { 
    background-color: rgb(14, 48, 78);
    grid-row: 1 / span 3;
    background-image: url(imgs/sparkle-65.gif);
    color: white;
}

.dashboard-container img {
    filter: invert(100%);
}

.searchbar-container {
    background-color: rgb(236, 243, 249);
    grid-column: 2;
    grid-row: 1;
    color: rgb(14, 48, 78);
}

#noti {
    align-self: center;
    margin-right: 20px;
}

#pfp{
    width: 70px; /* Adjust the width and height as needed */
    height: 70px; /* Same as width to make it a perfect circle */
    border-radius: 50%; /* Make it a circle */
    align-self: center;
    background-image: url(imgs/koala.jpg);
    border: 1px dotted black;
}

#user-info h2{
    margin-left: 20px;
}

.welcome-container {
    background-color: rgb(236, 243, 249);
    grid-column: 2;
    grid-row: 2;
    color: rgb(14, 48, 78);
    border-bottom: 1px dotted black;
}

.content-container {
    background-color: blue;
    grid-column: 2;
    grid-row: 3;
}

.dashboard-container {
    display: grid;
    grid-template-rows: 9vh 50vh 31vh;
    gap: 20px;  
}

#icon img, #choice img{
    margin-left: 20px;
}

#icon {
    display: grid;
    grid-template-columns: .2fr .8fr;
    align-self: center;
    align-items: center;
    height: 100px;
    border-bottom: 2.4px dotted whitesmoke;
}

#choice {
    display: grid;
    grid-template-columns: .2fr .8fr;
    align-self: center;
    align-items: center;
    font-size: 1.14rem; 
    height: 69px;
}

#choice:hover, #icon:hover {
    background-color: rgb(193, 197, 252);
    box-shadow: 0 0 10px rgba(231, 230, 230, 0.5);
}

#choices, #settings  {
    display: grid;
}

.searchbar-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#searchbar {
    justify-self: start;
    align-self: center;
    margin-right: 5px;
}

#user-info {
    display: grid;
    grid-template-columns: repeat(3, .099fr);
    align-self: center;
    padding: 23px;
    justify-content: end;
}

#left-search {
    align-self: center;
}

#searchbar {
    display: flex;
    overflow: hidden;
    width: 170%;
    gap: 10px;
    margin: auto;
    margin-left: 120px;
}

#searchbar input[type="search"]{
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    border: none;
    outline: none;
}

.welcome-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#left-welcome {
    align-self: center;
    margin: 15px auto;
}

#right-welcome{
    align-self: center;
    display: grid;
    grid-template-columns: repeat(3, .1fr);
    justify-content: end;
    gap: 40px;
    margin-right: 50px;
}

#right-welcome > button:hover {
    background-color: rgb(119, 86, 212);
    transform: scale(1.1);
}

#btn {
    background-color: rgb(14, 48, 78);
    width: 110px;
    height: 45px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: bold;
}

.content-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#card {
    height: 200px;
}

.house-container {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 15px;
}

.news-container {
    padding: 10px;
    text-align: center;
}

.news-container > div > div {
    border: 2px solid red;
    height: 293px;
    
}

#left-welcome {
    display: flex;
    gap: 15px;
    align-items: center;
}

.content-container {
    background-color: aliceblue;
}

#card, #news, #trending {
    background-color: rgb(236, 243, 249);
    border: 1px dotted black;
    border-radius: 15px;
    text-align: center;
    color: rgb(14, 48, 78);
}

#trending-wrapper{
    margin-top: 9px;
}

#card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-photos {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    gap: 13px;
    fill: rgb(14, 48, 78);
}

.card-photos > img:hover{
    transform: scale(1.1);
}

.card-top {
    margin-top: 10px;
}

#news {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.news-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    padding: 10px;
    border-bottom: 1px dotted rgb(14, 48, 78); 
}

.news-box:last-child {
    border: none;
}

#trending {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.trending-slide {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-left: 26px; 
}

.trending-slide img {
    width: 20px;
    height: 20px;
}
